.our-stats {
   background: linear-gradient(rgba($white-color, 0.9), rgba($white-color, 0.9)), url(../img/stats2.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 100%;
   padding-bottom: 13rem;
   position: relative;
   overflow: hidden;

   .shape-img-4 {
      position: absolute;
      top: -2rem;
      left: -1rem;
      width: 40rem;
      height: auto;
      object-fit: cover;
      z-index: 1;
   }
   .container-stats {
      @include display-flex;
      justify-content: center;
      padding-top: 7rem;
      padding-bottom: 5rem;

      .stats--h1 {
         color: $base-color;
      }
      .stats--subtitle {
         color: $base-color;
      }
   }
   .our-stats_holder {
      @include display-flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 3rem;

      .our-stats_circle {
         @include display-flex;
         justify-content: center;
         text-align: center;
         width: 30rem;
         height: 30rem;
         border: 5px solid $base-color;
         border-radius: 50%;
         margin: 0 2.5rem;

         .circle-number {
            font-size: fontSize(circle-number);
            color: $base-color;
            font-family: $header-font;
            margin-bottom: 2rem;
         }
         .circle-desc {
            font-size: fontSize(circle-desc);
            color: $base-color;
            text-align: center;
         }
      }
   }
}

@media screen and (max-width: 767px) {
   .our-stats {
      .shape-img-4 {
         width: 30rem;
      }
   }
}
@media screen and (max-width: 500px) {
   .our-stats {
      .our-stats_holder {
         gap: 6rem;
         .our-stats_circle {
            width: 25rem;
            height: 25rem;
         }
      }
   }
}
