.header-top.sticky {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 999;
   background: $lighter-color;
   box-shadow: 0px 1px 3px 3px rgba($color: $menu-text-hover-color, $alpha: 1);
   .logo-link {
      padding: 0.5rem 1rem;
   }
   .navigation {
      height: 100%;
      .menu-list {
         height: 100%;
      }
   }
}
